body{
    width: 100%;
    background-image: url(Images/img-bg.jpg);
    background-size: 100%;
    height: 830px;
    font-family: Helvetica;
}
a{
    text-decoration: none
}


.img-haut{
    float: left;
    height: 80px;
    margin: 0;
    width: 60px;
}
.haut{
    height: 80px;
    width: 100%;
    background-color: #042425;
    text-align: center;
    margin-top: -10px;
    font-size: large;
    line-height: 80px;
    margin-left: -10px;
    color: white;
    font-family: Open Sans;
}

/* PageConnexion */

.admin{
    margin-top: 3%;
    width: 60%;
    height: 60%;
}

.forme{
    background-color: #f8fdfd;
    width: 70%;
    height: 60%;
}

.loginForm{
    height: 60px;
    background-color: #3ADDD6;
    width: 70%;
    text-align: left;
    line-height: 60px;
    color: white;
}

.input{
    background-color: #F5F5F5;
    width: 383px;
    margin-left: 50px;
    height: 30px;
}

.error-form{
    float: left;
    color: red;
    margin-left: 6%;
}

label{
    margin-left: 20px;
    float: left;
    margin-top: 10px;
    text-align: left;
}

.nbr{
    background-color: #F5F5F5;
    width: 60px;
    margin-left: 63px;
    height: 30px;
    float: left;
    margin-top: 5px;
}

select{
    background-color: #F5F5F5;
    margin-left: 2%;
    width: 60%;
    height: 50px;
    border-radius: 5px;
}
.inputText{
    width: 90%;
    height: 50px;
    border-radius: 5px;
}

strong{
    color: red;
}

.submit{
    height: 50px;
    float: left;
    background-color: #3ADDD6;
    border-radius: 10px;
    margin-left: 10%;
    font-size: large;
    width: 150px;
    color: white;
}

img{
    margin-top: 15px;
    margin-left: -30px;
}

a{
   color: rgb(214, 214, 209);
   float: left;
   margin: 15px;
   margin-left: 50px;
   font-size: large;
}

#h3{
    background-color: greenyellow;
}

.milieu{
    width: 60%;
    height: 100%;
}
.milieu1{
    width: 80%;
    background-color: #F5F5F5;
    margin-top: 10px;
    height: 100%;
}

.form{
    margin-top: 10px;
}

/* Creation Compte User */

.img-user{
    margin-left: 50%; 
    margin-top: -5%; 
    width: 25%; 
    height: 42%; 
    border-style: solid;
    border-color:#51BFD0; 
    border-radius: 50%;
    position: absolute;
}

.img-admin{
    margin-left: 40%; 
    width: 18%; 
    height: 42%; 
    border-style: solid;
    border-color:#51BFD0; 
    border-radius: 50%;
    position: absolute;
}

.output{
    border-radius:50%;
    margin:2%;
    width:96%;
    height:96% 
}

.milieuCCUser{
    height: 100%;
    width: 80%;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
}
.FormCCUser{
    float: left;
    text-align: left;
    margin-left: 50px;
    width: 80%;
}
h3{
    margin-top: -20px;
    color: #A1A1A1;
}

.trait{
    border-top: 2px solid #E4E4E4;
    margin-left: -50px;
    width: 75%;
}

.submit1{
    height: 50px;
    background-color: #3ADDD6;
    border-radius: 10px;
    margin-left: 30%;
    font-size: large;
    width: 150px;
}
.Enregistrer-qst{
    height: 50px;
    background-color: #3ADDD6;
    border-radius: 10px;
    margin-left: 30%;
    font-size: large;
    width: 150px;
    float: right;
    margin-right: 1%;
}

.AjoutReponse{
    height: 50px;
    border-radius: 10px;
    float : right;     
}

.fichier{
    height: 50px;
    background-color: #3ADDD6;
    border-radius: 10px;
    float: right;
    margin-right: 10%;
    font-size: large;
    width: 150px;
}
.list-courant{
    background-color: green; 
    position: absolute;
    width:10px; 
    height:50px; 
    float:left
}

/* Page interface Joueur*/

.milieuIJ{
    height: 100%;
    width: 95%;
    background-color: rgb(233, 233, 233);
    margin-top: 15px;
    border-radius: 5px;
    margin-left: 2.5%;
}
.profil{
    width: 100%;
    height: 100px;
    background-color: #3ADDD6;
}

.dec{
    float: right;
    height: 30px;
    background-color: #3ADDD6;
    font-size: large;
    margin-right: 2%;

}

.btn-suiv{
    margin-top: 20px;
    height: 30px; 
    font-size: large; 
    float: right; 
    background-color: #3ADDD6;
    margin-right: 10%;
    color: white;
    width: 15%;
}

.btn-prec{
    margin-top: 20px;
    height: 30px; 
    font-size: large; 
    float: left; 
    background-color: #3ADDD6;
    margin-left: 10%;
    color: white;
    width: 15%;
}

.h{
    width: 70%; 
    margin-left: 15%; 
    text-align: center;
    color: white;
    font-family: Myriad Pro;
}

.avatar{
    float: left;
    width: 10%;
    height: 80px;
    margin-left: 2px;
    font-size: 10px;
    margin-top: 2px;
    text-align: center;
   
}

.photo{
    float: left;
    width: 100%;
    height: 80px;
    margin-left: 2px;
    font-size: 10px;
    margin-top: 2px;
    border-radius: 50%;
}

.deconnexion{
    margin-top: -40px;
}
.milieu1IJ{
    width: 95%;
    margin-left: 2.5%;
    background-color: white; 
    margin-top: 10px; 
    border-radius: 5px; 
    height: 85%;
}
.score{
    float: right; 
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    margin-right: 1%;
    margin-top: 4%; 
    width: 30%; 
    height: 75%;
}
.questions{
    width: 65%;
    height:96%; 
    border-style: solid;
    border-radius: 10px;
    margin-left: 1%;
    border-color: #3ADDD6;
    float: left;
}
.question{
    width: 90%;
    height:20%; 
    margin-left: 5%;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

.list-question{
    margin-left: 2%;
    font-size: 160%;
    line-height: 10px;
}

.choix-mult{
    width:4px; 
    height:4px; 
    background-color: white;
    border-color: #2ADDD6 ;
    border-style: solid;
    position: absolute; 
    margin-left: 2.5%;
    margin-top: -3px;
}

.choix-simple{
    width:4px; 
    height:4px; 
    background-color: white;
    border-color: #3ADDD6 ;
    border-style: solid;
    border-radius: 50%;
    position: absolute; 
    margin-left: 2.5%;
    margin-top: -3px;
}
.reponse-text{
    width:30%; 
    height: 6%; 
    border-style: solid;
    background-color: white; 
    border-color: silver;
    margin-left: 5%;
    border-radius: 5px;
}

.reponse{
    margin-left: 6.5%;
    font-size: 75%;
    line-height: 0;
}

.reponses{
    margin-left: 12%;
    margin-top:10%;
    font-size:300%
}

.res-Mult{
    width: 7%; 
    border-style:solid; 
    border-color:#3ADDD6;
    height:5%
}

.pts{
    width: 10%;
    height: 40px;
    background-color: rgb(233, 233, 233);
    float: right;
    margin-right: 5%;
}
.bouton{
    clear: both;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
}

.res-Spl{
    width: 7%; 
    border-style:solid; 
    border-color:#3ADDD6;
    height:5%;
    border-radius: 50%
}

.prec{
    background-color: #3ADDD6;
    height: 40px;
    width: 120px;
}
.Suiv{
    background-color: #3ADDD6;
    height: 40px;
    float: right;
    width: 120px;
}
.quit{
    background-color: rgb(173, 42, 32);
    height: 40px;
    float: right;
    width: 120px;
    margin-right: 25%;
}

.CreerAdmin{
    width: 65%;
    height:98%; 
    border-style: solid;
    border-radius: 10px;
    margin-right: 2%;
    border-color: #3ADDD6;
    float: right;
    background-color: white;
}

.Liste-qst{
    width: 65%;
    height:95%; 
    border-style: solid;
    border-radius: 10px;
    margin-right: 2%;
    border-color: white;
    float: right;
    background-color: white;
}

.MenuAdmin{
    width: 32%;
    margin-left: -1%;
    background-color: white;
    border-radius: 10px;
    height: 70%; 
    float: left;
    margin-top: 8%;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    }

    li a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0;
    color: #000;
    width: 100%;
    text-decoration: none;
    }
    li a:hover {
    background-color: silver;
    color: white;
    }
    li a.active {
        background-color: silver;
        color: white;
    }
    li div{
        background-color: green; 
        position: absolute;
        width:10px; 
        height:50px; 
        float:left 
    }
    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

.liste{
    line-height:50px; 
    height:50px; 
    width: 100%; 
}
.icones{
    float: right; 
    margin: 0%;
    margin-top: 15px;
}

.bordure-bleu{
    margin-top: 3%;
    width: 90%;
    border-style: solid;
    border-color: #3ADDD6;
    border-radius: 20px;
    margin-left: 5%;
    height: 86%;
}

.bordure-silver{
    margin-top: 8%;
    width: 90%;
    border-style: solid;
    border-color: silver;
    border-radius: 20px;
    margin-left: 5%;
    height: 77%;
}

.TEXT-AREA{
    margin: 1%;
    width: 70%;
    height: 20%;
}

.liste-Qestion-suivant{
    height: 10%;
    background-color: silver;
    margin-top: 1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100.5%;
    margin-left: -0.25%   
}

.liste-Joueur-suivant{
    height: 10%;
    margin-top: 5%;
    width: 100%;
}



.Parametrer{
    color: #3ADDD6;
    text-align: center;
}

table{
    margin-top: 20px;
    width: 90%;
    border-style: solid;
    border-color: #3ADDD6;
    border-radius: 20px;
    font-size: x-large;
}

th{
    text-align: left;
}

.input-OK{
    float:right;
    margin-right: 10%; 
    margin-top: 14px;
    background-color: #5E90AF;
    border: none;
    height: 30px;
}

.input-nbre{
    float:right; width: 50px; 
    margin-right: 15px; 
    margin-top: 14px;
    height: 30px;
}

.label-nbre{
    float:right; margin-right: 10px; 
    font-size: 30px; 
    color:silver;
}

.btn-supp{
    width: 5%;
}

.ic-supp{
    margin:0;
}

.T-score{
    float: left; 
    margin-left: 2%; 
    margin-top:2%; 
    width: 48%; 
    height:6%; 
    text-align: center; 
    color: silver;
}

.T-score a{
    line-height: 2%; 
    text-decoration: none;
    font-size: 90%;
}

.M-score{
    float: left; 
    margin-right: 2%; 
    margin-top:2%; 
    width: 48%; 
    height:6%;
}

.M-score a{
    line-height: 2%; 
    color: #3ADDD6;
    margin-left:10%; 
    text-decoration: none;
    font-size: 90%;
}

.affich-score{
    clear: both; 
    width: 96%; 
    margin-left: 2%; 
    height: 91%;
    background-color: white
}

.affich-score table{
    border: none;
    padding-top: 5%;
}

.lien-sta{
    width: 33%; 
    float: left; 
    text-align: center
}


@media only screen and (max-width: 1024px) {
    .h{
        width: 70%; 
        margin-left: 10%; 
        text-align: center;
        color: white;
        font-family: Myriad Pro;
        font-size: 90%;
    }
    .dec{
        float: right;
        height: 30px;
        background-color: #3ADDD6;
        font-size: 100%;
        margin-right: 2%;
        width: 20%;
    
    }
    h2{
        font-size: 100%;
    }
    .reponses{
        margin-left: 12%;
        margin-top:10%;
        font-size:200%
    }
    .T-score{
        float: left; 
        margin-left: 2%; 
        margin-top:2%; 
        width: 48%; 
        height:6%; 
        text-align: center; 
        color: silver;
    }
    
    .T-score a{
        line-height: 2%; 
        text-decoration: none;
        font-size: 65%;
        margin-left: 10%;
    }
    
    .M-score{
        float: left; 
        margin-right: 2%; 
        margin-top:2%; 
        width: 48%; 
        height:6%;
    }
    
    .M-score a{
        line-height: 100%; 
        color: #3ADDD6;
        margin-left:0%; 
        text-decoration: none;
        font-size: 60%;
        text-align: center;
        margin-top: 10%;
        margin-right: 2%;
    }

    .affich-score{
        clear: both; 
        width: 96%; 
        margin-left: 2%; 
        height: 91%;
        background-color: white;
        
    }
    
    .affich-score table{
        border: none;
        padding-top: 5%;
        font-size: 60%
    }

    li a{
        font-size: 100%;
    }

    .Liste-qst{
        font-size: 50%;
    }

    .label-nbre{
        float:right; 
        margin-right: 2%; 
        font-size: 200%; 
        color:silver;
        margin-top: 11%;
        margin-bottom: 4%;
    }
    .input-OK{
        margin-top: 10%;
    }
    .input-nbre{
        margin-top: 10%;
    }

    .reponse{
        margin-left: 9%;
    }

    .btn-suiv{
        font-size: 15px; 
        width: 20%;
    }
    
    .btn-prec{
        font-size: 15px; 
        width: 25%;
    }
    .fichier{
        font-size: 48%;
        width: 30%;
        height: 4%;
    }

    .submit1{
        height: 8%;
        margin-left: 10%;
        font-size: large;
        width: 150px;
    }
    .TEXT-AREA{
        width: 60%;
        height: 15%;
    }
    label{
        margin-left: 10px;
        float: left;
        margin-top: 10px;
        text-align: left;
        font-size: 50%;
    }
    .inputText{
            width: 90%;
            height: 30px;
    }
    select{
        width: 40%;
        font-size: 60%;
    }
    .btn-supp{
        background-color: white;
        border: none;
    }

    .lien-sta a{
        font-size: 150%;
    }

}